* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
   
}

body {
    font-family: "Mulish", sans-serif;
    background-color: aliceblue !important;
    overflow-x: hidden;
    color: rgb(151, 149, 149);
    letter-spacing: 0.4px;
}

.nav {
    width: 100%;
    height: 70px;
    background-color: white;
    display: block;
    color: rgb(135 133 133);
}

.nav-row {
    width: 100%;
    height: 100% !important;
}

.list-item {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 100%;
    margin-bottom: 0px;
}

.list-item li {
    padding-left: 12px;
    margin-left: 3px;
    display: inline-block;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.list-item li i {
    font-size: 19px;
    padding-bottom: 5px;
}

.list-item span {
    white-space: nowrap;
}

.list-item a {
    font-size: 11px;
    color: rgb(165, 163, 163) !important;
}

.col-7 {
    height: 100%;
}

.middle-items {
    float: right;
}

.middle-items li i {
    font-size: 17px !important;
}

.list-item .icon-project {
    color: #2586cb !important;
    text-decoration: none;
}

.col-3 .orchid-img {
    width: 23px;
}

.col-3 .company-info {
    position: relative;
    padding-right: 0px;
    float: right;
}

.company-info .company-name {
    margin-top: 2px;
    font-size: 13px !important;
    text-decoration: none;
    color: #2c2a2a !important;
    margin-left: -6px;
}

.company-info .fa-caret-down {
    position: absolute;
    top: 25px;
    margin-left: auto;
    right: 0px;
    color: black;
}

.pro-inventory {
    white-space: nowrap;
}

.cross {
    margin-left: 20px;
    color: black !important;
    font-size: 10px !important;
    padding-top: 4px !important;
}

.sub-header {
    background-color: aliceblue !important;
    width: 100%;
    margin-top: 0px;
}

.sub-header ul {
    display: flex;
    height: 100%;
    margin-left: 3px;
    align-items: center;
    margin-top: 0px;
}

.sub-header li {
    display: flex;
    padding: 8px 8px;
    text-align: center;
    height: 100%;
    background-color: rgb(243, 243, 243);
}

.sub-header .settings {
    background-color: white !important;
}

.settings i {
    color: black !important;
}

.settings .settings-bold {
    color: black !important;
    text-decoration: none;
}

.sub-header a {
    font-size: 11px;
    color: rgb(165, 163, 163) !important;
}

.sub-header i {
    font-size: 10px;
    color: rgb(151, 149, 149);
    padding-top: 5px;
    margin-right: 7px;
}

.project-section {
    background-color: white;
    padding: 8px 0px 3px 0px;
}

ul {
    margin-bottom: 0px !important;
    padding-left: 0px !important;
}

.project {
    display: flex;
    list-style-type: none !important;
    margin-left: 18px;
}

.project li {
    margin-left: 7px;
}

.project .project-text {
    font-size: 12px;
    text-decoration: none !important;
    color: rgb(151, 149, 149)!important;
}

.new-project {
    color: black !important;
    text-decoration: none;
    font-size: 12px;
}

.project i {
    font-size: 8px;
}

.side-arrow {
    color: grey;
    font-size: 9px;
    width: 15px;
    height: 15px;
    background-color: rgb(235, 234, 234);
    border-radius: 50%;
    text-align: center;
    margin-left: 26px;
    line-height: 1.5;
}

.side-arrow-parent {
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 0px;
    padding-bottom: 8px;
    color: gray;
}
.arrow-text{
    display: flex;
    align-items: center;
}
.form-control {
    border-radius: 7px !important;
    box-shadow: none !important;
    border: 2px solid #efefef !important;
}

.side-arrow-parent i {
    color: gray!important;
}

.side-arrow-parent span {
    color: #2586cb !important;
    font-size: 16px;
    margin-left: 7px;
    margin-top: 3px;
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}

a:active {
    text-decoration: none !important;
}

a:visited {
    text-decoration: none !important;
}

a:link {
    text-decoration: none !important;
}

.detail {
    background-color: white;
    margin: 5px 9px;
    border-radius: 5px;
    overflow: hidden;
    perspective: 1px;
}

.accordion-button {
    color: rgb(63, 63, 63) !important;
    background-color: white !important;
    padding: 1px 8px;
    border-radius: 5px !important;
    font-size: 13px;
    border-bottom: none;
}

.form-control::placeholder {
    color: rgb(219, 219, 219);
    font-size: 12px !important;
}

.accordion-body {
    padding: 0px;
}

.row-detail {
    height: 40px;
    color: rgb(201, 199, 199)!important;
}

.row-detail-2 {
    margin-top: 5px;
    height: 40px;
}

.cl-3 {
    margin-top: 13px;
    width: 25%;
}

.detail-primary {
    margin: 0px 22px;
    margin-right: 10px;
}

.detail-secondary {
    margin: 0px 10px;
}

.detail-secondary a {
    color: #2586cb;
    font-size: 11px;
    text-decoration: none;
}

.accordion-header {
    margin-top: 10px;
}

.form-control-cal {
    position: relative;
}

.cal-day1 {
    position: absolute;
    top: 72px;
    left: 308px;
    color: lightgray;
}

.cal-day2 {
    position: absolute;
    top: 72px;
    right: 29px;
}

.column-project-lead {
    position: relative;
}

.carret-project-lead {
    position: absolute;
    top: 9px;
    left: 295px;
}

.column-project-duration {
    position: relative;
}

.carret-duration {
    position: absolute;
    top: 9px;
    left: 295px;
}

.column-leave {
    position: relative;
}

.carret-leave {
    position: absolute;
    top: 9px;
    left: 295px;
}

.carret-project-lead {
    color: rgb(201, 199, 199)!important;
    ;
}

.panel-heading {
    padding: 0px !important;
}

.btn-link {
    text-decoration: none;
}

.btn {
    font-size: 12px;
}

.center {
    width: 260px;
    height: 96px;
}

.upload-button {
    padding-top: 1px;
}

.upload-button {
    margin-top: -12px !important;
}

.row-collapse-set a {
    padding-left: 20px;
}

.row-collapse-set {
    margin-bottom: 5px;
}

.title {
    width: 100%;
    height: 50px;
    text-align: left;
}

h1 {
    font-size: 12px;
    font-weight: 300;
    color: skyblue;
}

.upload-icon {
    margin: 25px 2px 2px 2px;
}

.upload-input {
    position: relative;
    top: -62px;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.btn {
    display: block;
    width: 140px;
    color: grey;
    border: 0;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
}

.card-all {
    margin: 7px 6px;
    margin-left: px;
    border-radius: 8px;
    /* border: none !important; */
}

.card-body-heading a {
    text-decoration: none !important;
    color: #2586cb !important;
}

.card-body h5 {
    color: #706d6d;
    font-size: 15px;
    font-weight: 550;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.row-detail {
    border-top: 2px solid rgb(247, 242, 242);
   
}
h6{
    font-size: 15px;
}
a {
    color: #2586cb !important;
}
.padding-zero{
    padding-left: 0px;
    padding-right: 0px;
}
.card-body-heading a {
    font-size: 13px;
}
.sub-header-container{
    border-bottom: 2px;
}
.row-user-info {
    display: flex;
    margin-top: 5px;
}
.cost-gst{
    margin-top: 5px;
}
/* .project-cost {
    margin-top: auto !important;
} */

/* .task-cost {
    margin-top: auto !important;
} */

.form-desc {
    height: 65px !important;
}

.inner-header {
    color: #2586cb !important;
    font-weight: 400 !important;
    padding: 12px 7px;
    font-size: 14px !important;
}

.btn-outline-secondary {
    color: rgb(75, 73, 73);
    border: 1px solid rgb(207, 198, 198) !important;
    margin-left: 20px;
    font-size: 12px !important;
    width: 100px;
}
.btn-outline-secondary:hover{
    background-color: white !important;
}
.row-cost {
    margin-bottom: 30px;
}

.form-control-sm::placeholder {
    color: #dbd8d8 !important;
}

.user-related a::before {
    content: '-';
    float: left;
     line-height: 3;
}

.user-related a.collapsed::before {
    content: '+';
     line-height: 3;
}

.attach-doc a::before {
    content: '-';
    float: left;
    line-height: 3;
   
}

.attach-doc a.collapsed::before {
    content: '+';
     line-height: 3;
   
}

.main-title>a ::after {
    content: "\2303";
    float: right;
    color: rgb(42, 108, 207);
    font-size: 22px;
    border: 1px solid rgb(204, 220, 245);
    border-radius: 3px;
    padding: 10px 6px;
    display: inline-block;
    text-align: center;
    line-height: 0.5;
    height: 1px;
    font-weight: 500;
    border-radius: 6px;
   
}

.main-title>a.collapsed ::after {
    content: "\2303";
    transform: rotate(180deg);
    float: right;
    color: rgb(42, 108, 207);
    font-size: 22px;
    border: 1px solid  rgb(204, 220, 245);
    padding: 10px 6px;
    display: inline-block;
    text-align: center;
    line-height: 0.5;
    height: 1px;
    font-weight: 500;
    border-radius: 6px;
}

/* .card-heading .accicon {
    float: right;
    font-size: 20px;  
    
  }
  .fa-angle-down{
    margin-top:2px !important;
  }
  
  .card-heading:not(.collapsed) .rotate-icon {
    transform: rotate(180deg);
  } */

.button-save {
    padding: 5px 7px !important;
    font-size: 12px !important;
    width: 100px !important;
    margin-left: 8px;
    margin-right: -3px;
    border-radius: 5px 0px 0px 5px !important;
}

.list-report {
    border-right: 1px solid lightgray;
    height: 9px;
}

.button-carret {
    padding: 5px 7px !important;
    font-size: 12px !important;
    width: 30px !important;
    margin-right: 2px;
    border-radius: 0px 5px 5px 0px !important;
}
.form-upload{
    border:2px solid #797777;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    flex-direction: column;
    height: 170px;
    margin:30px 0;

}

.form-upload i{
    font-size: 16px;
    margin-top: 15px;
}

.form-check-label {
    color: #acabab;
    font-weight: 400 !important;
}